* {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

:root {
    --clr-1: #dc52bf;
    --clr-2: #b847b1;
    --clr-3: #FB5CFF;
    --clr-4: #743296;
    --clr-5: #00D8FF;
    /*--clr-5: #432174;*/
    --clr-6: #23123b;
}

body {
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overscroll-behavior-y: none;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header {
    width: 100%;
    --s: 60px;
    --c1: #100616;
    --c2: #3c2d9e;
    --_g: radial-gradient(
      25% 25% at 25% 25%,
      var(--c1) 99%,
      rgba(0, 0, 0, 0) 101%
    );
    background: var(--_g) var(--s) var(--s) / calc(2 * var(--s))
        calc(2 * var(--s)),
      var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
      radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s)
        var(--s),
      repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%)
        calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.header h1 {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #effff0;
    font-size: 36px;
}

.header h3 {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #e8e9e8;
    margin-top: 15px;
}

.header button {
    margin-top: 10px;
    margin-left: 5px;
}

.menu {
    width: 100%;
    height: 100%;
    --s: 65px; /* control the size */
    --c1: #dadee1;
    --c2: #4a99b4;
    --c3: #9cceb5;
    --_c: 75%, var(--c3) 52.72deg, #0000 0;
    --_g1: conic-gradient(from -116.36deg at 25% var(--_c));
    --_g2: conic-gradient(from 63.43deg at 75% var(--_c));
    background: var(--_g1), var(--_g1) calc(3 * var(--s)) calc(var(--s) / 2),
      var(--_g2), var(--_g2) calc(3 * var(--s)) calc(var(--s) / 2),
      conic-gradient(
        var(--c2) 63.43deg,
        var(--c1) 0 116.36deg,
        var(--c2) 0 180deg,
        var(--c1) 0 243.43deg,
        var(--c2) 0 296.15deg,
        var(--c1) 0
      );
    background-size: calc(2 * var(--s)) var(--s);
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
}

.testingbtn {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.5em 0.8em;
    cursor: pointer;
    color: var(--clr-6);
    background-color: rgba(244, 63, 112, 0.2);
    border: 6px solid var(--clr-6);
    border-radius: 9.5px;
    transition: all 0.3s;
    margin-top: 15px;
    margin-bottom: 15px;
}

.testingbtn:hover {
    transform: translateY(-7.5px);
    background-color: #f43f70;
    color: #f9f9fb;
}

.btn {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.5em 0.8em;
    cursor: pointer;
    color: var(--clr-6);
    background-color: rgba(244, 63, 112, 0.2);
    border: 6px solid var(--clr-6);
    border-radius: 9.5px;
    transition: all 0.3s;
}

.btn:hover {
    transform: translateY(-7.5px);
    background-color: #f43f70;
    color: #f9f9fb;
}

.footer {
    width: 100%;
    --s: 60px;
    --c1: #100616;
    --c2: #3c2d9e;
    --_g: radial-gradient(
      25% 25% at 25% 25%,
      var(--c1) 99%,
      rgba(0, 0, 0, 0) 101%
    );
    background: var(--_g) var(--s) var(--s) / calc(2 * var(--s))
        calc(2 * var(--s)),
      var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
      radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s)
        var(--s),
      repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%)
        calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
    height: 80px;
    order: 3;
    overflow: hidden;
}

.footer small {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-size: 15px;
    margin-left: -10px;
    color: rgb(187, 185, 185);
}

.footer a:link,
.footer a:visited,
.footer a:active {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: rgba(176, 250, 27, 0.774);
    margin-right: 12px;
}

.main {
    width: 100%;
    height: 100%;
    --color: #9644da;
    background: linear-gradient(95deg, var(--color) 25%, transparent 25%) -50px 0,
          linear-gradient(-15deg, var(--color) 25%, transparent 25%) -50px 0,
          linear-gradient(25deg, transparent 75%, var(--color) 75%) -50px 0,
          linear-gradient(-45deg, transparent 75%, var(--color) 75%) -50px 0,
          linear-gradient(-15deg, transparent 75%, var(--color) 75%) -50px 0;
    background-color: #8c46ce;
    background-size: 40px 40px;
    text-align: left;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.fontlist {
    margin-top: -15px;
}

article h2 {
    margin-left: 5px;
    color: rgb(39, 208, 194);
}

article h3 {
    margin-left: 5px;
    color: rgb(39, 208, 194);
}

article p {
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 16px;
}

blockquote {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #77b1c0;
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    order: 2;
}

label {
    display: block;
}

.video-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

iframe	{
    width: 100%;
    height: auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /*16:9 */
    height: 0; 
}

.video-container iframe {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
}

.resourceimg {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background: white;
    width: 300px;
    margin: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 720px;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    inset: -.25rem;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-3),
        var(--clr-4),
        var(--clr-5),
        var(--clr-4),
        var(--clr-3));
    border-radius: inherit;
    animation: rotation 5s linear infinite;
}

.card::after {
    filter:blur(2rem);
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0%   { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; } 
}

::-webkit-scrollbar{
    margin: 2em;
    width: auto;
}
::-webkit-scrollbar-thumb{
    background-color: #3c2d9e;
    border-radius: 100vw;
}
::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(60, 45, 158, 0.63);
}
::-webkit-scrollbar-thumb:focus{
    background-color: rgba(60, 45, 158, 0.63);
}

.card-image {
    background-color: aqua;
    height: 175px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-1 {
    background-image: url('../images/strongpassword.jpg');
}

.card-2 {
    background-image: url('../images/authentication.png');
}

.card-3 {
    background-image: url('../images/firewall.jpg');
}

.card-4 {
    background-image: url('../images/encryption.jpg');
}

.card-5 {
    background-image: url('../images/accesscontrol.jpeg');
}

.card-6 {
    background-image: url('../images/networksegmentation.png');
}

.card h2 {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
}

.card p {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    padding: 10px;
    line-height: 1.5;
}

#ch1,
#ch2,
#ch3,
#ch4,
#ch5,
#ch6 {
    display: none;
}

#ch1:checked ~ .hiddencontent1,
#ch2:checked ~ .hiddencontent2,
#ch3:checked ~ .hiddencontent3,
#ch4:checked ~ .hiddencontent4,
#ch5:checked ~ .hiddencontent5,
#ch6:checked ~ .hiddencontent6 {
    display: block;
}

#ch1:checked ~ .hiddencontent1 label,
#ch2:checked ~ .hiddencontent2 label,
#ch3:checked ~ .hiddencontent3 label,
#ch4:checked ~ .hiddencontent4 label,
#ch5:checked ~ .hiddencontent5 label,
#ch6:checked ~ .hiddencontent6 label {
    display: block;
}

#ch1:checked ~ .label-container1 label,
#ch2:checked ~ .label-container2 label,
#ch3:checked ~ .label-container3 label,
#ch4:checked ~ .label-container4 label,
#ch5:checked ~ .label-container5 label,
#ch6:checked ~ .label-container6 label {
    display: none;
}

.hiddencontent1,
.hiddencontent2,
.hiddencontent3,
.hiddencontent4,
.hiddencontent5,
.hiddencontent6 {
    display: none;
}

.card label {
    display: inline-block;
    cursor: pointer;
    background-color: var(--clr-6);
    color: white;
    display: block;
    padding: 15px 20px;
    margin: 20px 50px;
    border-radius: 5px;
}

.label-container1,
.label-container2,
.label-container3,
.label-container4,
.label-container5,
.label-container6 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.wireframe {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.brain {
    width: 100%;
}

.post {
    width: 100%;
    --s: 60px;
    --c1: #100616;
    --c2: #3c2d9e;
    --_g: radial-gradient(
      25% 25% at 25% 25%,
      var(--c1) 99%,
      rgba(0, 0, 0, 0) 101%
    );
    background: var(--_g) var(--s) var(--s) / calc(2 * var(--s))
        calc(2 * var(--s)),
      var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
      radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s)
        var(--s),
      repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%)
        calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
    margin-top: -17.5px;
    margin-bottom: 2px;
    border-radius: 9.5px;
}

.post h3 {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #effff0;
    font-size: 22px;
    overflow: hidden;
    margin-top: 17.5px;
    margin-left: 12px;
}

.post p {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #effff0;
    font-size: 12px;
    overflow: hidden;
    margin-bottom: 5px;
    line-height: 20px;
}

.posttime {
    margin-left: 7.5px;
}

.aside1 {
    background: rgb(21, 155, 144);
}

.aside1 h2 {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #0F110C;
    font-size: 28px;
    overflow: hidden;
    margin-top: 5px;
}

.aside1 p {
    margin-top: 40px;
}

.aside2 {
    background: rgb(21, 155, 144);
}

.aside2 h2 {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #0F110C;
    font-size: 28px;
    overflow: hidden;
    margin-top: 5px;
}

.aside2 a {
    line-height: 25px;
}

.aside2 li {
    margin-top: 30px;
}

.fltlt {
    float: left;
    margin-right: 5px;
    margin-top: -20px;
}

.fltlt img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.lab1img {
    max-width: 100%;
    height: auto;
}

figcaption {
    color: #77b1c0;
}

li {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #77b1c0;
    font-size: 15px;
}

cite {
    line-height: 20px;
    color: #77b1c0;
}

/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}
  
  /* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgb(255, 255, 255);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}
  /* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

.privacylist {
    font-weight: bold;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 16px;
}

.privacylistitem {
    font-weight: bold;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 16px;
}

.btn2 {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #40B3A2;
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
}
  
.btn2:hover {
    opacity: .95;
}
  
.btn2 .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
}

.btn3 {
    --clr1: #644dff;
    --clr2: #4836bb;
    --clr3: #654dff63;
    cursor: pointer;
    width: 184px;
    height: 48px;
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    display: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.125em;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fff;
    background: var(--clr1);
    border: 2px solid var(--clr2);
    border-radius: .75rem;
    box-shadow: 0 8px 0 var(--clr2);
    transform: skew(-10deg);
    transition: all .1s ease;
    filter: drop-shadow(0 15px 20px var(--clr3));
  }
  
  .btn3:active {
    letter-spacing: 0px;
    transform: skew(-10deg) translateY(8px);
    box-shadow: 0 0 0 var(--clr3);
  }
  
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
}

.sparkle-button {
    --active: 0;
    --bg: radial-gradient(
              40% 50% at center 100%,
              hsl(270 calc(var(--active) * 97%) 72% / var(--active)),
              transparent
          ),
          radial-gradient(
              80% 100% at center 120%,
              hsl(260 calc(var(--active) * 97%) 70% / var(--active)),
              transparent
          ),
          hsl(260 calc(var(--active) * 97%) calc((var(--active) * 44%) + 12%));
    background: var(--bg);
    font-size: 1.2rem;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 25px;
    padding: 1em 1em;
    display: flex;
    align-items: center;
    gap: 0.25em;
    white-space: nowrap;
    border-radius: 100px;
    position: relative;
    box-shadow: 0 0 calc(var(--active) * 3em) calc(var(--active) * 1em) hsl(260 97% 61% / 0.75),
          0 0em 0 0 hsl(260 calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%)) inset,
          0 -0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc(var(--active) * 60%)) inset;
    transition: box-shadow var(--transition), scale var(--transition), background var(--transition);
    scale: calc(1 + (var(--active) * 0.1));
    transition: .3s;
  }
  
  .sparkle-button:active {
    scale: 1;
    transition: .3s;
  }
  
  .sparkle path {
    color: hsl(0 0% calc((var(--active, 0) * 70%) + var(--base)));
    transform-box: fill-box;
    transform-origin: center;
    fill: currentColor;
    stroke: currentColor;
    animation-delay: calc((var(--transition) * 1.5) + (var(--delay) * 1s));
    animation-duration: 0.6s;
    transition: color var(--transition);
  }
  
  .sparkle-button:is(:hover, :focus-visible) path {
    animation-name: bounce;
  }
  
  @keyframes bounce {
    35%, 65% {
      scale: var(--scale);
    }
  }
  
  .sparkle path:nth-of-type(1) {
    --scale: 0.5;
    --delay: 0.1;
    --base: 40%;
  }
  
  .sparkle path:nth-of-type(2) {
    --scale: 1.5;
    --delay: 0.2;
    --base: 20%;
  }
  
  .sparkle path:nth-of-type(3) {
    --scale: 2.5;
    --delay: 0.35;
    --base: 30%;
  }
  
  .sparkle-button:before {
    content: "";
    position: absolute;
    inset: -0.2em;
    z-index: -1;
    border: 0.25em solid hsl(260 97% 50% / 0.5);
    border-radius: 100px;
    opacity: var(--active, 0);
    transition: opacity var(--transition);
  }
  
  .spark {
    position: absolute;
    inset: 0;
    border-radius: 100px;
    rotate: 0deg;
    overflow: hidden;
    mask: linear-gradient(white, transparent 50%);
    animation: flip calc(var(--spark) * 2) infinite steps(2, end);
  }
  
  @keyframes flip {
    to {
      rotate: 360deg;
    }
  }
  
  .spark:before {
    content: "";
    position: absolute;
    width: 200%;
    top: 0%;
    left: 50%;
    z-index: -1;
    translate: -50% -15%;
    rotate: 0;
    transform: rotate(-90deg);
    opacity: calc((var(--active)) + 0.4);
    background: conic-gradient(
          from 0deg,
          transparent 0 340deg,
          white 360deg
      );
    transition: opacity var(--transition);
    animation: rotate var(--spark) linear infinite both;
  }
  
  .spark:after {
    content: "";
    position: absolute;
    inset: var(--cut);
    border-radius: 100px;
  }
  
  .backdrop {
    position: absolute;
    inset: var(--cut);
    background: var(--bg);
    border-radius: 100px;
    transition: background var(--transition);
  }
  
  @keyframes rotate {
    to {
      transform: rotate(90deg);
    }
  }
  
  @supports(selector(:has(:is(+ *)))) {
    body:has(button:is(:hover, :focus-visible)) {
      --active: 1;
      --play-state: running;
    }
  
    .bodydrop {
      display: none;
    }
  }
  
  .sparkle-button:is(:hover, :focus-visible) ~ :is(.bodydrop, .particle-pen) {
    --active: 1;
    --play-state: runnin;
  }
  
  .sparkle-button:is(:hover, :focus-visible) {
    --active: 1;
    --play-state: running;
  }
  
  .sp {
    position: relative;
  }
  
  .particle-pen {
    position: absolute;
    width: 200%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    mask: radial-gradient(white, transparent 65%);
    z-index: -1;
    opacity: var(--active, 0);
    transition: opacity var(--transition);
    overflow: hidden;
}
  
.particle {
    fill: white;
    width: calc(var(--size, 0.25) * 1rem);
    position: absolute;
    top: calc(var(--y) * 1%);
    left: calc(var(--x) * 1%);
    opacity: var(--alpha, 1);
    animation: float-out calc(var(--duration, 1) * 1s) calc(var(--delay) * -1s) infinite linear;
    transform-origin: var(--origin-x, 1000%) var(--origin-y, 1000%);
    z-index: -1;
    animation-play-state: var(--play-state, paused);
}
  
.particle path {
    fill: hsl(0 0% 90%);
    stroke: none;
}
  
.particle:nth-of-type(even) {
    animation-direction: reverse;
}
  
@keyframes float-out {
    to {
      rotate: 360deg;
    }
}
  
.text {
    translate: 2% -6%;
    letter-spacing: 0.01ch;
    background: linear-gradient(90deg, hsl(0 0% calc((var(--active) * 100%) + 65%)), hsl(0 0% calc((var(--active) * 100%) + 26%)));
    background-clip: text;
    color: whitesmoke;
    transition: background var(--transition);
}
  
.sparkle-button svg {
    inline-size: 1.25em;
    translate: -25% -5%;
}

  

.aside1 a:link,
.aside1 a:visited,
.aside1 a:active,
.aside2 a:link,
.aside2 a:visited,
.aside2 a:active {
    color: rgb(21, 0, 210);
}

.aside1 a:hover,
.aside2 a:hover,
.footer a:hover {
    color: rgb(233, 132, 17);
    text-decoration: none;
}

@media all and (min-width: 800px) {
    
    .main {
        flex: 3;
    }

    .aside1 {
        order: 1;
    }

    .aside2 {
        order: 2;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 4;
    }
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1;
    }
}
